altair
pandas
streamlit
sklearn
matplotlib
seaborn
plotly
train_test_split
KNeighborsClassifier
tree
accuracy_score
figsize
HeatMap
plotly.express
LabelEncoder
StandardScaler
train_test_split
PCA
