altair
pandas
streamlit
numpy
sklearn
matplotlib
seaborn
figsize
folium
plotly.express
LabelEncoder
RandomForestClassifier
DecisionTreeClassifier
SVC
accuracy_score
confusion_matrix
classification_report
plot_confusion_matrix
mean_squared_error
mean_absolute_error
mean_squared_error
mean_absolute_percentage_error
r2_score
train_test_split
KNeighborsClassifier
tree
accuracy_score
HeatMap
StandardScaler
train_test_split
PCA

